
body{
    background-image: url("./kolaciky.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(59, 55, 55);
    z-index: 999;
    transition: all 0.5s ease-in-out;
    min-height: 80px;
    height: 20vh;
  }
  header.smaller {
    height: 80px; 
    background-color: rgba(255, 255, 255, 0);
  }
  header img {
    position: relative;;
    height:10vh;
    margin-left: 20px;
    transition: all 0.5s ease-in-out;
  }
  header img.smaller {
    height: 8vh;
  }
  nav {
    float: right;
    margin: 3vh 10px 0 0;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav li a {
    position: center;
    color: rgb(240, 72, 212);
    text-decoration: solid;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    transition: all 0.5s ease-in-out;
    
  }
  nav li a:hover {
    color: white;
    text-decoration: underline;
  }
  nav li a.smaller {
    font-size: 3vh;
    text-align: center;
  }
#info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    margin-top: 75vh;
    height: auto;
    width: 100%;
    background-color:rgba(59, 55, 55, 0.363);
}
h2{
    font-weight: bold;
    font-size: 60px;
    color: rgb(72, 240, 232);
}
#about_us {
  margin: 0 auto;
  padding: 0 10vh;
  width: 75vw;
  display: flex;
  position: relative;;
  margin-top: 30vh;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  background-color: rgba(92, 90, 90, 0.842);
}
#kontakt{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: left;
  z-index: 998;
  margin-top: 20vh;
  margin-bottom: 15vh;
  height: 30vh;
  width: auto;
  background-color:rgba(59, 55, 55, 0.377);
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}
#kontakt img{
  height: 30vh;
}
#kontakt p {
  font-size: 60px;
}