
body{
    white-space: nowrap;
    background-repeat: repeat;
    background-size: 100vw;
    background-attachment: relative;
    background: linear-gradient(to left, rgb(231, 60, 217),rgb(233, 25, 52));
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to left, rgb(167, 82, 216), rgb(224, 119, 216));
    z-index: 999;
    transition: all 0.5s ease-in-out;
    height: max-content;
    
  }
  a {
   
    border: none;
    padding: 0;
  }
  .icons{
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 0;
    border: none;
 }
 .icons img{
  display:inline-block ;
  height: 3vh;
  margin-left: 4vh;
  border: none;
  outline: none;
 }
.icons img:hover{
  scale: 180%;
}
  header.smaller {
    height: max-content; 
    background-color: cornflowerblue;
    
  }
  header img {
    position: relative;
    height:10vh;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
    
    
  }
  header img.smaller {
    scale: 80%;
  }
  nav {
    
    margin: 0 auto;
    top:0%;
    

  }
  nav ul {
    list-style: none;
    margin:0 auto;
    padding: 0;
    justify-content: center;
    margin-bottom: 1vh;
  }
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  nav li a {
    position: center;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to left, rgb(162, 144, 172), rgb(194, 119, 224));
    border-radius: 10px;
    
  }
  nav li a:hover {
    text-decoration: underline;
    
  }
  nav li a.smaller {
    position: relative;
    font-size: 2vh;
    
    
    
  }
#info{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    margin-top: 75vh;
    height: auto;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.363);
}
h2{
    font-weight: bold;
    font-size: 60px;
    color: rgb(72, 240, 232);
}
#about_us {
  margin: 0 auto;
  padding: 0 10vh;
  width: 75vw;
  display: flex;
  position: relative;;
  margin-top: 30vh;
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  background-color: rgba(92, 90, 90, 0.842);
}
#kontakt{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: left;
  z-index: 998;
  margin-top: 20vh;
  margin-bottom: 10vh;
  height: 30vh;
  width: auto;;
  background-color:rgba(59, 55, 55, 0.377);
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}
#kontakt img{
  height: 30vh;
}
#kontakt p {
  font-size: 60px;
}
.galery{
margin-top: 20vh;
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.galery img{
  
  position: relative;
  width: 50vh;
  height: auto;
  border-radius: 10px;
  border: 3px solid #555155;
  margin-top: 2vh;
  transition: all 0.5s ease-in-out;
}
.galery img:hover{
  width: 70vh;
}
#cookie{
  position: absolute;
  top: 40vh;
  left: 0;
}
#cupcake{
  position: absolute;
  top: 120vh;
  right: 20vh;
}
#doughnut{
  position: absolute;
  top: 200vh;
  left: 20vh;
}